*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(./Matematicas.jpg);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 500px;
    align-items: center;
    border: solid 2px;
    border-radius: 20px;
    background-color: grey;
}


